<html>
<body>
  
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/questions">
                        <h2 class="post-title">
                          운동 매칭 서비스 - 신청하러 가기   
                        </h2><br>
                        <h4 class="post-subtitle">
                            <strong>원하는 운동을 하고 싶은데 인원이 부족할 때, 인원을 충원해보세요!</strong>
                        </h4>
                    </a>
                    <p class="post-meta">When you want to do your desired exercise, but when there are not enough people, please fill up the person!</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/user">
                        <h2 class="post-title">
                           지역 소통 서비스 - 채팅하러 가기
                        </h2><br>
                        <h4 class="post-subtitle">
                            <strong>같은 지역 사람들과 채팅하며 소통해보세요!</strong>
                        </h4>
                    </a>
                    <p class="post-meta">Chat and communicate with people in the same area!</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/free/index">
                        <h2 class="post-title">
                            자유게시판 - 구경하러 가기
                        </h2><br>
                        <h4 class="post-subtitle">
                            <strong>스포츠 관련 대회, 자료 등을 공유해보세요!</strong>
                        </h4>
                    </a>
                    <p class="post-meta">Share sports related competitions, materials and more!</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h4 class="post-subtitle">
                            <strong>Many say exploration is part of our destiny, but it’s actually our duty to future generations.</strong>
                        </h4>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

  
  
</body>

</html>

